@page
@model ShopOnline.Pages.Admin.Products.IndexModel
@{
}

<div id="content-left">
    <ul>
        <a href="~/admin/dashboard" >
        <li >Dashboard</li></a>
        <a href="~/admin/orders">
        <li>Orders</li></a>
        <a href="javascript:void">
        <li class="active">Products</li></a>
        <a href="~/admin/customers">
        <li>Customers</li></a>
    </ul>
</div>
<div id="content-right">
    <div class="path-admin">PRODUCTS LIST</b></div>
    <div class="content-main">
        <div id="content-main-dashboard">
            <div id="product-title-header">
                <div id="product-title-1" style="width: 25%;">
                    <b>Filter   Catetory:</b>
                    <form onsubmit="filterNsearch(event, 'select-filter-category', 'categoryId')">
                        <select name="ddlCategory" id="select-filter-category" title="category">
                            <option value="0">--- Select ---</option>
                            @foreach(var c in Model.categories){
                                if((int) ViewData["categoryId"] == c.CategoryId){
                                    <option value="@c.CategoryId" selected>@c.CategoryName</option>
                                    continue;
                                }
                                <option value="@c.CategoryId">@c.CategoryName</option>
                            }                       
                        </select>
                        <input type="submit" value="Filter">
                    </form>
                </div>
                <div id="product-title-2" style="width: 55%;">
                    <form onsubmit="filterNsearch(event, 'text-search-productName', 'search')">
                        <input type="text" name="txtSearch" placeholder="Enter product name to search" id="text-search-productName" value="@ViewData["search"]"/>
                        <input type="submit" value="Search" />
                    </form>
                </div>
                <div id="product-title-3" style="width: 20%;">
                    <a href="~/admin/products/create">Create a new Product</a>
                    <form action="">
                        <label for="upload-file">Import .xls or .xlsx file</label>
                        <input type="file" name="file" id="upload-file" />
                    </form>
                </div>
            </div>
            <div id="order-table-admin">
                <table id="orders">
                    <tr>
                        <th>ProductID</th>
                        <th>ProductName</th>
                        <th>UnitPrice</th>
                        <th>Unit</th>
                        <th>UnitsInStock</th>
                        <th>Category</th>
                        <th>Discontinued</th>
                        <th></th>
                    </tr>
                    @foreach(var p in Model.products){
                        <tr>
                            <td><a href="order-detail.html?id=5">#@p.ProductId</a></td>
                            <td>@p.ProductName</td>
                            <td>@p.UnitPrice</td>
                            <td>@p.QuantityPerUnit</td>
                            <td>@p.UnitsInStock</td>
                            <td>@p.Category.CategoryName</td>
                            <td>@p.Discontinued</td>
                            <td>
                                <a href="~/admin/products/update?id=@p.ProductId">Edit</a> &nbsp; | &nbsp;
                                <a href="~/admin/products/delete?id=@p.ProductId">Delete</a>
                            </td>
                        </tr>
                    }
                   @* <tr>
                        <td><a href="order-detail.html?id=5">#5</a></td>
                        <td>IPhone 14 Pro Max</td>
                        <td>2000</td>
                        <td>pieces</td>
                        <td>50</td>
                        <td>Smart Phone</td>
                        <td>false</td>
                        <td>
                            <a href="edit.html?id=5">Edit</a> &nbsp; | &nbsp;
                            <a href="delete.html?id=5">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="order-detail.html?id=5">#4</a></td>
                        <td>IPhone 13 Pro Max</td>
                        <td>1000</td>
                        <td>pieces</td>
                        <td>100</td>
                        <td>Smart Phone</td>
                        <td>false</td>
                        <td>
                            <a href="edit.html?id=5">Edit</a> &nbsp; | &nbsp;
                            <a href="delete.html?id=5">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="order-detail.html?id=5">#3</a></td>
                        <td>Macbook Pro 2021</td>
                        <td>2100</td>
                        <td>pieces</td>
                        <td>20</td>
                        <td>Labtop</td>
                        <td>false</td>
                        <td>
                            <a href="edit.html?id=5">Edit</a> &nbsp; | &nbsp;
                            <a href="delete.html?id=5">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="order-detail.html?id=5">#2</a></td>
                        <td>Dell XPS</td>
                        <td>2000</td>
                        <td>pieces</td>
                        <td>30</td>
                        <td>Labtop</td>
                        <td>false</td>
                        <td>
                            <a href="edit.html?id=5">Edit</a> &nbsp; | &nbsp;
                            <a href="delete.html?id=5">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="order-detail.html?id=5">#1</a></td>
                        <td>Bosh Wash</td>
                        <td>1000</td>
                        <td>pieces</td>
                        <td>10</td>
                        <td>Electronic</td>
                        <td>false</td>
                        <td>
                            <a href="edit.html?id=5">Edit</a> &nbsp; | &nbsp;
                            <a href="delete.html?id=5">Delete</a>
                        </td>
                    </tr>*@
                </table>
            </div>
            <div id="paging">
                <div class="pagination" id="pagination">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(() => {
        var connection = new signalR.HubConnectionBuilder().withUrl("/signalrServer").build();
        connection.start();

        connection.on("LoadProductOnChange", function () {
            window.location.reload();
        })
    });

    paging(@Model.totalPage);
</script>
